<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/header.ejs') _%>
</head>
<h1>How many stitches go into a single project?</h1>
<p>Every knitting project should use gauge to help a person 
determine how much yarn they need and what size the project with be.
But one completely useless statistic is how many stitches you will make
in any given project.  The calculator on this page uses the number of
stitches in the gauge swatch to estimate how my stitches will be in
the finished project.
</p>
<div id="calculator-inputs">
    <label for="title">Gauge Swatch Info</label>
    
    <label for="stitches_in_gauge">Number of Stitches Cast on for Gauge Swatch</label>
    <input type="text" id="gaugeStitches" name="gaugeStitches"><br>

    <label for="rows_in_gauge">Number of Rows in Gauge Swatch</label>
    <input type="text" id="gaugeRows" name="gaugeRows"><br>

    <label for="gaugeLength">Length of finished Gauge Swatch</label>
    <input type="text" id="gaugeLength" name="gaugeLength"><br>

    <label for="gaugeWidth">Width of finished Gauge Swatch</label>
    <input type="text" id="gaugeWidth" name="gaugeWidth"><br>

    <label for="project_final_length">Length of Finished Project</label>
    <input type="text" id="project_final_length" name="project_final_length"><br>

    <label for="project_final_width">Width of Finished Project</label>
    <input type="text" id="project_final_width" name="project_final_width"><br>

    <button type="button" id="calc_stitches">Calculate My Stitches!</button>
</div>
<script>
//knit stitches calculator

//inputs:
// number_of_stitches per row and number_of_rows in gauge swatch
// dimensions of gauge swatch
// dimensions of finished project
const gaugeStitches = (document.querySelector('.gaugeStitches'))
const gaugeRows = (document.querySelector('.gaugeRows'))
const gaugeLength = (document.querySelector('.gaugeLength'))
const gaugeWidth = (document.querySelector('.gaugeWidth'))

const projectLength = (document.querySelector('.project_final_length'))
const projectWidth = (document.querySelector('.project_final_width'))

//output:
// GAUGE => number_of_stitches * number of rows = total_number_of_stitches
function calcRatio() {
console.log("Gauge Stitches:" + gaugeStitches)
const number = gaugeStitches.value
console.log("Gauge Stitches:" + number)
console.log("Gauge Stitches:" + gaugeStitches)
console.log("Gauge Rows" + gaugeRows)
console.log("Gauge Length: " + gaugeLength)
console.log("Gauge Width: " + gaugeWidth)
console.log("Project Length: " + projectLength)
console.log("Project Width: " + projectWidth)


    let gaugeArea = gaugeWidth * gaugeLength
    let gaugeStitchNum = gaugeRows * gaugeStitches
    console.log("gauge area:" + gaugeArea + "number of gauge stitches: " + gaugeStitchNum)

    let gaugeRatio = gaugeStitchNum / gaugeArea 
    console.log("Gauge Ratio: " + gaugeRatio)

    let projectArea = projectLength * projectWidth
    console.log("Project Area: " + projectArea)

    let projectNumStitches = projectArea * gaugeRatio

    alert("There are approximately " + projectNumStitches + " stitches in this completed project.\n That's a lot of knitting, great work!")

}

var calcBtn = document.getElementById("calc_stitches")
calcBtn.addEventListener("click", calcRatio)

</script>

</html>